math {
    font-size: 25px;
}

#palette button {
    min-width: 80px;
    min-height: 50px;
    font-size: 11px;
}

#palette button math {
    font-size: 12px;
    text-align: left;
}

#palette {
    border: 1px solid #ccc;
    background: white;
    position: relative;
    min-height: 100px;
    min-width: 300px;
    right: 0px;
    width: 30%;
    float: right;
    padding: 10px;
}

#main {
    width: 100%;
    border: 1px solid #ccc;
    min-height: 100px;
}

.selected {
    border: 1px solid red;
}
